/* App.css */
html,
body,
#root {
  height: 100%;
  margin: 0;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.color-picker-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
}

.mask-container {
  width: 100%;
  height: 100%;
}

.mask-container canvas {
  border: 1px solid #ccc;
}

input[type="file"] {
  margin-top: 20px;
}
